@tailwind base;
@tailwind components;
@tailwind utilities;

/* Suave textura */
body {
  background-image: url("/fondo-tokioh.png");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed; /* opcional, da efecto parallax */
}

/* Titulares tipo menú */
.h-title {
  @apply text-4xl md:text-5xl font-extrabold tracking-wide text-fg;
}
.h-section {
  @apply text-2xl md:text-3xl font-extrabold tracking-[.08em] uppercase text-fg;
}
.p-muted { @apply text-sm text-muted; }
